.bg-custom {
  background-image: url(../images/trivia-night.jpg);
  background-size: auto;
  background-position: top right;
  background-blend-mode: luminosity;
}

.body-bg {
  background-image: url(../images/background.jpg);
  position: bottom left;
}

.custom-brand {
  font-family: 'Germania One', cursive;
}

.width-custom {
  width: 100%;
}